<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="DB_Server" value="IIS-WL-P14S" />
    <add key="Company_Server" value="IIS-WL-P14S" />
    <add key="Company_DB" value="Demo160918" />
    <add key="Custom_DB" value="Demo160918" />
    <add key="Company_Username" value="manager" />
    <add key="Company_Password" value="1234" />
    <add key="DB_Username" value="sa" />
    <add key="DB_Password" value="B1Admin" />
    <add key="MSSQLVersion" value="SAPbobsCOM.BoDataServerTypes.dst_MSSQL2017" />
    <add key="InvoiceXMLPath" value="C:\IIS2021\invoicexml.xml" />
    <add key="CreditNoteXMLPath" value="C:\IIS2021\creditnotexml.xml" />
    <add key="CreditNoteTempXMLPath" value="C:\IIS2021\TestNew.xml" />
    <add key="SMTP_Server" value="smtp.gmail.com" />
    <add key="SMTP_NC_User" value="iismediafire@gmail.com" />
    <add key="SMTP_NC_Password" value="99@lokyang" />
    <add key="From" value="iismediafire@gmail.com" />
    <add key="CC_ApprovalEmail" value="william.lee@integratedinfosystem.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />   
    <add key="AP_Credit_Note_ObjectType" value="19" />
    <add key="AP_Invoice_ObjectType" value="18" />  
    

    <add key="Peppol_URL" value="https://peppol.datapost.com.sg/services/rest/peppol/business/v10/" />
    <add key="Peppol_Authorization" value="Basic MjY3MzZiNGIyZDk2NGZiZTg4ZmQ0MTA4Mzg1NmRjMDQ6ZTNkZGY2YTgwYWFjNGFkOTgwOWIxOTMwZTJhNWY3ZTI=" />
    
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
   <connectionStrings>
    <add name="SAPDB" providerName="System.Data.SqlClient" connectionString="Data Source=IIS-WL-P14S;Initial Catalog=Demo160918;User ID=sa;Password=B1Admin;MultipleActiveResultSets=true;" />
    <add name="PEPPOLEntities" connectionString="metadata=res://*/CustomDB.CustomDB.csdl|res://*/CustomDB.CustomDB.ssdl|res://*/CustomDB.CustomDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IIS-WL-P14S;initial catalog=PEPPOL;user id=sa;password=B1Admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>